@using System.Globalization
@using BudgetOnline.Web.Infrastructure.Controls

@model BudgetOnline.Web.ViewModels.BuildTotalsViewModel
@{
    ViewBag.Title = "Расчет запланированных расходов/доходов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        @(Html.BudgetOnlineWeb().Form(BudgetOnlineWebControls.FormTypes.Inline)
              .Content(@<text>
                           <div class="row compact">
                               <div class="col-md-3">
                                   <label>
                                       Рассчитать по дату</label></div>
                               <div class="col-md-3">
                                   <label>
                                       Результаты в валюте</label></div>
                               <div class="col-md-6">
                               </div>
                           </div>
                           <div class="row">
                               <div class="col-md-3">@Html.EditorFor(m => m.FinalDate)</div>
                               <div class="col-md-3">@Html.EditorFor(m => m.TargetCurrency)</div>
                               <div class="col-md-6">@Html.BudgetOnlineWeb().PrimaryButton().Caption("Рассчитать").Build()</div>
                           </div>
                           <div class="row">
                               <div class="col-md-3">@Html.EditorFor(m => m.UseActualTotals)</div>
                               <div class="col-md-3">
                               </div>
                               <div class="col-md-6">
                               </div>
                           </div>
                        </text>
              )
              .Build())
    </div>
</div>
<hr />
<div class="row compact">
    <div class="col-md-12">
        <div class="row compact underline">
            <div class="col-md-3">
                <span class="column-header">Месяц</span></div>
            <div class="col-md-2">
                <div class="pull-right" style="text-align: right">
                    <span class="column-header">Расходы</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right" style="text-align: right">
                    <span class="column-header">Доходы</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="pull-right" style="text-align: right">
                    <span class="column-header">Итог за месяц</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pull-right" style="text-align: right">
                    <span class="column-header">Итог накопительный</span>
                </div>
            </div>
        </div>
    </div>
</div>
@{
    decimal amountAccumulative = 0;}
@foreach (var group in Model.Items)
{
    foreach (var item in group.Statistics)
    {
        amountAccumulative += (item.BalancePositive + item.BalanceNegative);
    <div class="row compact">
        <div class="col-md-12">
            <div class="row compact underline">
                <div class="col-md-3">
                    <a target="_blank" href="@Url.Action("list", "planning", new { applyDate = group.Date.ToShortDateString() })">@(group.Date.ToString("MMMM yyyy", CultureInfo.CurrentUICulture))</a></div>
                <div class="col-md-2">
                    <div class="pull-right" style="text-align: right">
                        <span class="sum-@(item.BalanceNegative > 0 ? "in" : "out")">@item.BalanceNegative.ToString("### ### ### ##0.00")<span
                            class="currency-smb">@item.CurrencySymbol</span></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right" style="text-align: right">
                        <span class="sum-@(item.BalancePositive > 0 ? "in" : "out")">@item.BalancePositive.ToString("### ### ### ##0.00", CultureInfo.CurrentUICulture)<span
                            class="currency-smb">@item.CurrencySymbol</span></span>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="pull-right" style="text-align: right">
                        <span class="sum-@(item.BalancePositive + item.BalanceNegative > 0 ? "in" : "out")">@((item.BalancePositive + item.BalanceNegative).ToString("### ### ### ##0.00", CultureInfo.CurrentUICulture))<span
                            class="currency-smb">@item.CurrencySymbol</span></span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pull-right" style="text-align: right">
                        <span class="sum-@(amountAccumulative > 0 ? "in" : "out")">@amountAccumulative.ToString("### ### ### ##0.00", CultureInfo.CurrentUICulture)<span
                            class="currency-smb">@item.CurrencySymbol</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
}