@using BudgetOnline.UI.Helpers
@using BudgetOnline.Web.Infrastructure.Controls
@model BudgetOnline.Web.ViewModels.PlannedTransactionEditViewModel
@{
    ViewBag.Title = "Редактирование";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var editorId = UIHelper.GenerateRandomCode(10);
}
@section Header
{
    <style type="text/css">
        .ui-autocomplete-loading {
        background: white url('@Url.Content("~/content/images/ajax-loader.gif")') right center no-repeat;
        }
    </style>
}

@Html.AlertGenerator()

<div class="row body-container" id="@editorId">
    @(Html.BudgetOnlineWeb().Form(BudgetOnlineWebControls.FormTypes.Horizontal).ActionUrl(Url.Action("edit"))
          .Content(@<text>
                       @Html.ValidationSummary()
                       @Html.EditorForModel("~/Views/Shared/EditorTemplates/Object.cshtml")
                       <div class="form-actions controls-row">
                           <div class="col-md-12">
                               <p>
                                   @Html.BudgetOnlineWeb().SubmitNormalButton(BudgetOnlineWebControls.ButtonCaptionTypes.Save).Build()
                                   @Html.BudgetOnlineWeb().ButtonNormal(BudgetOnlineWebControls.ButtonCaptionTypes.Cancel).RedirectTo(Url.Action("list")).Build()
                               </p>
                           </div>
                       </div>
                    </text>)
          .Build())
    <script type="text/javascript">
        $(document).ready(function () {
        });
    </script>
</div>
