@using BudgetOnline.Data.Manage.Types.Simple
@using BudgetOnline.UI.Controls
@model IEnumerable<BudgetOnline.Data.Manage.Types.Simple.TransactionTotal>
@{
    Layout = null;
    var totals = Model.GroupBy(o => new { o.CategoryId, o.CategoryName })
        .Select(o => new TransactionTotal { CategoryId = o.Key.CategoryId, CategoryName = o.Key.CategoryName, Sum = o.Sum(gr => gr.Sum) })
        .ToList();

    var total = Model.Sum(o => o.Sum);
    var avg = Model.Average(o => o.Sum);

    string tag = ViewBag.Tag;
}
<div class="row">
	<div class="col-md-6">@(Html.BudgetOnlineWeb().Table<TransactionTotal>()
       	.Rows(Model)
       	.RowStyleRetriever(r => "row")
       	.OutputType(TableBuilderOutputTypes.Div)
       	.Columns(cols =>
       	         	{
       	         		cols.Custom().Cell(o =>
       	         		                   string.Format("<a href='{0}?FromDate={1}&ToDate={2}&Search={3}' target='blank' title='Открыть детально'>{4}</a>",
       	         		                                 Url.Action("list", "transactions", new { area = "" }),
       	         		                                 new DateTime(o.Date.Value.Year, o.Date.Value.Month, 1),
       	         		                                 new DateTime(o.Date.Value.Year, o.Date.Value.Month, 1).AddMonths(1).AddDays(-1),
       	         		                                 tag,
       	         		                                 o.Date.Value.ToLocalTime().ToString(o.Date.Value.Year != DateTime.UtcNow.Year ? "MMMM, yyyy" : "MMMM"))
							).Span(6);
       	         		cols.Custom().Cell(row => string.Format("{0:### ### ##0.00} {1}", row.Sum, row.CurrencySymbol))
							.CellCss(row => "text-right " + (row.Sum > 0 ? "sum-in" : "sum-out")).Span(6);
					}).Build())
	</div>
	<div class="col-md-6">
	</div>
</div>
<div class=" well">
<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-6">
                <strong>Сумма</strong>
            </div>
            <div class="col-md-6 text-right @(total > 0 ? "sum-in" : "sum-out")">@total.ToString("### ### ##0.00")
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <strong>Среднее</strong>
            </div>
            <div class="col-md-6 text-right @(avg > 0 ? "sum-in" : "sum-out")">@avg.ToString("### ### ##0.00")
            </div>
        </div>
    </div>
    <div class="col-md-6">
    </div>
</div>
</div>