@model IEnumerable<BudgetOnline.Web.Models.StatisticsReports.IReport>
@{
    ViewBag.Title = "Статистика";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var editorId = Html.GetUniqId(10);
}
@Html.Label("ReportSelector", "Выберите отчет...")
@Html.DropDownList("ReportSelector", Model.Select(o => new SelectListItem { Selected = false, Text = o.Name, Value = o.Code }), "")
<script type="text/javascript">
    $(document).ready(function () {
        $('#ReportSelector').bind('change', reportSelected);
        $('#searchFilterForm').bind('submit', searchFormSubmit);
    });

    function reportSelected(evt) {
        $("#output").empty();
        if(evt.currentTarget.value === '') {
            $("#filter-container").addClass('hidden');
            $('#filter').empty();
        } else {
            $.ajax({
                url: "@(Url.Action("GetReportFilter"))",
                data: { "ReportCode": evt.currentTarget.value },
                type: 'POST',
                dataType: 'html',
                cache: false,
                success: function(responseText) {
                    $("#filter").html(responseText);
                    $("#filter-container").removeClass('hidden');
                }
            });
        }
    }
            
    function searchFormSubmit(evt) {
        evt.preventDefault();

        $.ajax({
                url: $('#searchFilterForm').attr('action'),
                data: $(this).serialize(),
                type: 'POST',
                dataType: 'html',
                cache: false,
                success: function (responseText) {
                   $("#output").html(responseText);
                }
            });
    }
</script>
<div class="row">
    <div class="well hidden" id="filter-container">
        <label>Выберите параметры фильтра:</label>
        <form id="searchFilterForm" onsubmit="searchFormSubmit" action="@Url.Action("GetReportOutput")">
        <div id="filter">
        </div>
        @Html.BudgetOnlineWeb().PrimaryButton().Caption("Формировать").Build()
        </form>
    </div>
</div>
<div class="row" id="output">
</div>
