@model BudgetOnline.Web.ViewModels.Budgeting.BudgetState
@{
    Layout = null;
}
<div class="row-fluid compact">
    <div class="span12">
        <span>Процент выполнения бюджета за период</span></div>
</div>
<div class="row-fluid">
    <div class="span2">
        <span class="@(Model.PlanOutcomeCompletion > 100 ? "sum-out" : "sum-in")">@Model.PlanOutcomeCompletion
            %</span>
    </div>
    <div class="span10">
        <div class="progress progress-striped">
            @if (Model.PlanOutcomeCompletion <= 75)
            {
                <div class="bar bar-success" style="width: @(Math.Round(Model.PlanOutcomeCompletion))%;">
                </div>
            }
            else if (Model.PlanOutcomeCompletion <= 100)
            {
                <div class="bar bar-warning" style="width: @(Math.Round(Model.PlanOutcomeCompletion))%;">
                </div>
            }
            else
            {
                <div class="bar bar-danger" style="width: 100%;">
                </div>
            }
        </div>
    </div>
</div>
<div class="row-fluid compact">
    <div class="span6 text-right">
        <span class="">Средний расход в день (</span><span class="currency-smb">@Model.CurrencyName</span><span>)</span></div>
    <div class="span3 text-right">
        <span class="sum-trfs">по плану: @Model.PlanOutcomeDayAvg</span></div>
    <div class="span3 text-right">
        <span class="@(Math.Abs(Model.PlanOutcomeDayAvg) > Math.Abs(@Model.RealOutcomeDayAvg) ? "sum-in" : "sum-out")">
            по факту:
            @Model.RealOutcomeDayAvg</span></div>
</div>
<div class="row-fluid compact">
    <div class="span6 text-right">
        <span class="">Средний доход в день (</span><span class="currency-smb">@Model.CurrencyName</span><span>)</span></div>
    <div class="span3 text-right">
        <span class="sum-trfs">по плану: @Model.PlanIncomeDayAvg</span></div>
    <div class="span3 text-right">
        <span class="@(Model.PlanIncomeDayAvg > @Model.RealIncomeDayAvg ? "sum-out" : "sum-in")">
            по факту:
            @Model.RealIncomeDayAvg</span></div>
</div>
<div class="row-fluid compact">
    <div class="span6">
    </div>
    <div class="span6">
        <span class="pull-right"></span>
    </div>
</div>
