@using BudgetOnline.Web.Infrastructure.Controls
@model BudgetOnline.Web.Areas.Admin.Models.AccountEditViewModel

@{
	ViewBag.Title = "Новый счет";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h4>Новый счет</h4>
<div class="container">
	@(Html.BudgetOnlineWeb()
    .Form(BudgetOnlineWebControls.FormTypes.Horizontal)
	.Content(@<text>
	@Html.ValidationSummary()
	@Html.EditorForModel("~/Views/Shared/EditorTemplates/Object.cshtml")
	<div class="form-actions">
		<p>
            @Html.BudgetOnlineWeb().SubmitNormalButton(BudgetOnlineWebControls.ButtonCaptionTypes.Save).Build()
            @Html.BudgetOnlineWeb().ButtonNormal(BudgetOnlineWebControls.ButtonCaptionTypes.Cancel).RedirectTo(Url.Action("list")).Build()
        </p>
	</div>
	</text>)
	.Build())
</div>