@using System.Web.Optimization
@using BudgetOnline.Web.Infrastructure.Controls
<!DOCTYPE html>
<html>
<head>
    <title>Бюджет On-Line :: @ViewBag.Title</title>
    <meta charset="utf-8" lang="en" name="viewport" content="width=device-width, initial-scale=1.0" />
    @Styles.Render("~/content/css")
    @Scripts.Render("~/jquery")
</head>
<body>
    @Html.BudgetOnlineWeb().ProgressIndicator().BackgroundUrl(@Url.Content("~/Content/images/back1.jpg")).IndicatorUrl(@Url.Content("~/Content/images/ajax-loader.gif")).Class("progress-indicator").Build()
    <div class="container" id="container">
        @*<div class="row">
                <div class="col-md-7">
                </div>
                <div class="col-md-2">
                    <div class="pull-right">
                        @{ Html.RenderPartial("_LanguageSwitch"); }
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="pull-right">
                        @{ Html.RenderAction("LoggedOnName", "CurrentUser", new { Area = "" }); }
                    </div>
                </div>
            </div>*@
        <div class="row nav-offset">
            @{Html.RenderPartial("~/Views/Shared/TopNavligationMenu.cshtml");}
        </div>
        <div class="row">
            <div class="col-md-12">
                @RenderBody()
            </div>
        </div>
        <div class="row footer">
            <div class="col-md-12 text-muted">
                <p class="text-center">
                    &copy; Company @DateTime.Now.Year
                </p>
            </div>
        </div>
    </div>
    @Scripts.Render("~/js2")
    @RenderSection("Header", false)
    <script type="text/javascript">
    <!--
        $(function () {
            $('#language-switch ul.dropdown-menuli a').click(function (e) {
                e.preventDefault();
                var lang = $(this).attr('data-lang');
                changeLang(lang);
            });
        });
    //-->
    </script>
</body>
</html>
