@using BudgetOnline.UI.Models
@{
    Layout = "_LayoutMain.cshtml";
}
<div class="row-fluid">
    <div class="span9">
        @RenderBody()
    </div>
    <div class="span3">
        <div class="row-fluid">
            @(Html.BudgetOnlineWeb().Panel()
                            .Header("Текущий баланс")
                            .Content(Html.Action("CurrentBalanceByCurrencies", "TransactionStatistics"))
                            .ContentRefreshUrl(Url.Action("CurrentBalanceByCurrencies", "TransactionStatistics")).Build())

            @(Html.BudgetOnlineWeb().Panel()
                            .Header("Текущий баланс по счетам")
                            .Content(Html.Action("LightTotalByAccounts", "TransactionStatistics"))
                            .ContentRefreshUrl(Url.Action("LightTotalByAccounts", "TransactionStatistics")).Build())
        </div>
        <div class="row-fluid">
            @RenderSection("RightBar", false)
        </div>
    </div>
</div>
@section Header {
    @RenderSection("Header", false)
}
