@{
    Layout = "_LayoutMain.cshtml";
}
<div class="row">
    <div class="col-md-9 central-column">
        @RenderBody()
    </div>
    <div class="col-md-3 right-column">
        <div class="row">
            <div class="col-md-12">
                @(Html.BudgetOnlineWeb().Panel()
           .Header("Текущий баланс")
           .Content(Html.Action("CurrentBalanceByCurrencies", "TransactionStatistics"))
           .ContentRefreshUrl(Url.Action("CurrentBalanceByCurrencies", "TransactionStatistics")).Build())
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @(Html.BudgetOnlineWeb().Panel()
           .Header("Текущий баланс по счетам")
           .Content(Html.Action("LightTotalByAccounts", "TransactionStatistics"))
           .ContentRefreshUrl(Url.Action("LightTotalByAccounts", "TransactionStatistics")).Build())
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                @RenderSection("RightBar", false)
            </div>
        </div>
    </div>
</div>
@section Header {
    @RenderSection("Header", false)
}
