@using BudgetOnline.UI.Extensions
@model BudgetOnline.Web.ViewModels.StatisticBlockViewModel
@{
    Layout = null;
}
@foreach (var group in Model.Groups)
{
    if (Model.NumberOfGroups > 1)
    {
    <div class="compact" title="@group.Title" id="@group.Id">
        <h6 class="text-center">@group.Title</h6>
    </div>
    }

    foreach (var item in group.Items)
    {
    <div class="col-md-12 compact underline">
        <div class="row">
            <div class="col-md-6 sum-@(item.Sum < 0 ? "out" : "in")" title="@item.Tooltip">@item.Label</div>
            <div class="col-md-6 text-right sum-@(item.Sum < 0 ? "out" : "in")">
                <span class="currency-smb">@item.CurrencySymbol</span> @item.Sum.ToHtmlString(HtmlOutputFormatterExtensions.OutputLengthType.Short)</div>
        </div>
    </div>
    }
}
