@using System.Web.Optimization
@using BudgetOnline.Web.Infrastructure.Controls
@model BudgetOnline.Web.ViewModels.Charts.ChartWithCategoriesViewModel

@section Header
{
    @Scripts.Render("~/highcharts")
}
<div class="darkback border-bt" style="padding-bottom: 1em">
<form method="POST">
    <div class="row" style="padding-top: 1em">
        <div class="col-md-3">
            <strong>Период</strong>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4">@Html.EditorFor(model => model.FromDate)</div>
                <div class="col-md-4">@Html.EditorFor(model => model.ToDate)</div>
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 1em">
        <div class="col-md-3">
            <strong>Категории</strong>
        </div>
        <div class="col-md-9">
            @(BudgetOnline.UI.Views.Editors.MultiColumnSelectList.Render(Model.Categories, "Categories", "", true, 3))
        </div>
    </div>
    <div class="row" style="padding-top: 1em">
        <div class="col-md-9 col-md-offset-3">
            @Html.BudgetOnlineWeb().ButtonNormal().Caption("Выбрать").Build()
            <span style="padding-left: 3em">
                @Html.EditorFor(model => model.IsOnlyTotals)
            </span>
        </div>
    </div>
</form>
</div>
<div class="row">
    <div class="col-md-12">
        @(Model.Chart)
    </div>
</div>
