@using BudgetOnline.UI.Models.SelectItems
@model BudgetOnline.Web.ViewModels.Charts.ChartWithCategoriesViewModel
@{
}
@section Header
{
    <script src="@Url.Content("~/Scripts/Highcharts-3.0.1/js/highcharts.js")" type="text/javascript"></script>
}
<form method="POST">
<div class="row compact">
    <div class="col-md-3">
        <h5>
            Период</h5>
    </div>
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-3">@Html.EditorFor(model => model.FromDate)</div>
            <div class="col-md-3">@Html.EditorFor(model => model.ToDate)</div>
            <div class="col-md-6">
            </div>
        </div>
    </div>
</div>
<div class="row compact">
    <div class="col-md-3">
        <h5>
            Категории</h5>
    </div>
    <div class="col-md-9">
        @(new BudgetOnline.UI.Views.Editors.MultiColumnSelectList().Render(Model.Categories, "Categories", "", true, 3))
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <h5>
            Итоги</h5>
    </div>
    <div class="col-md-9">
        @Html.EditorFor(model => model.IsOnlyTotals)
    </div>
</div>
<div class="row compact">
    <div class="col-md-12 form-actions">
        @Html.BudgetOnlineWeb().ButtonNormal().Caption("Выбрать").Build()
    </div>
</div>
</form>
<div class="row">
    <div class="col-md-12">
        @(Model.Chart)
    </div>
</div>
