@using BudgetOnline.UI.Models.SelectItems
@model BudgetOnline.Web.ViewModels.Charts.TagsByDatesViewModel
@{
}
@section Header
{
    <script src="@Url.Content("~/Scripts/Highcharts-3.0.1/js/highcharts.js")" type="text/javascript"></script>
}
<form method="POST" action="TagsByMonths">
    <div class="row compact">
        <div class="col-md-3">
            <strong>Период</strong>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3">@Html.EditorFor(model => model.FromDate)</div>
                <div class="col-md-3">@Html.EditorFor(model => model.ToDate)</div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>
    <div class="row compact">
        <div class="col-md-3">
            <strong>Тэги</strong>
        </div>
        <div class="col-md-9">
            @Html.EditorFor(model => model.Tags)
        </div>
    </div>
    <div class="row compact">
        <div class="col-md-12 form-actions">
            @Html.BudgetOnlineWeb().ButtonNormal().Caption("Выбрать").Build()
        </div>
    </div>
</form>
<div class="row">
    <div class="col-md-12">
        @(Model.Chart)
    </div>
</div>
