@using BudgetOnline.Web.UI.Controls
@model BudgetOnline.Web.Areas.Admin.Models.CategoryEditViewModel

@{
	ViewBag.Title = "Редактирование категории";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h4>Редактирование</h4>
<div class="container">
	@(Html.BudgetOnlineWeb()
    .Form(BudgetOnlineWebControls.FormTypes.Horizontal).ActionUrl(Url.Action("edit"))
	.Content(@<text>
	@Html.ValidationSummary()
	@Html.EditorForModel("~/Views/Shared/EditorTemplates/Object.cshtml")
	<div class="form-actions">
		<p>
            @Html.BudgetOnlineWeb().SubmitNormalButton(BudgetOnlineWebControls.ButtonCaptionTypes.Save).Build()
            @Html.BudgetOnlineWeb().ButtonNormal(BudgetOnlineWebControls.ButtonCaptionTypes.Cancel).RedirectTo(Url.Action("list")).Build()
        </p>
	</div>
	</text>)
	.Build())
</div>