@using BudgetOnline.Web.Infrastructure.Controls
@model BudgetOnline.Web.Areas.Admin.Models.UserEditViewModel
@{
	ViewBag.Title = "Редактирование пользователя";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
<h3>
	Редактирование пользователя</h3>
<div>
	@(Html.BudgetOnlineWeb()
 .Form(BudgetOnlineWebControls.FormTypes.Horizontal).ActionUrl(Url.Action("edit"))
	.Content(@<text>
	@Html.ValidationSummary()
	@Html.EditorForModel("~/Views/Shared/EditorTemplates/Object.cshtml")
	<div class="form-actions">
		<p>
			@Html.BudgetOnlineWeb().PrimaryButton().Caption("Сохранить").Build()
			@Html.BudgetOnlineWeb().ButtonNormal().Caption("Отмена").RedirectTo(Url.Action("list")).Build()
		</p>
	</div>
	</text>)
	.Build())
</div>
