@using BudgetOnline.Web.Infrastructure.Controls
@model BudgetOnline.Web.Areas.Admin.Models.EnableDisableUserViewModel
@{
	ViewBag.Title = "Разблокировать пользователя";
	Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}
<h3>
	Разблокировать пользователя</h3>
@if (!Model.IsDisabled)
{
	<p>
		Пользователь уже разблокирован</p>
	<p>
		@Html.BudgetOnlineWeb().ButtonNormal().Caption("Отмена").RedirectTo(Url.Action("list")).Build()
	</p>
}
else
{
	<p>
		Вы действительно хотите разблокировать пользователя</p>
	<br />
	<p>@Model.Name (@Model.Email)</p>
	<br />
	<p>
		@(Html.BudgetOnlineWeb()
			.Form(BudgetOnlineWebControls.FormTypes.Horizontal)
			.ActionUrl(Url.Action("enable"))
			.Content(@<text>
			@Html.HiddenFor(model => model.Id)
			@Html.BudgetOnlineWeb().PrimaryButton().Caption("Продолжить").Build()
			@Html.BudgetOnlineWeb().ButtonNormal().Caption("Отмена").RedirectTo(Url.Action("list")).Build()
			</text>)
			.Build())
	</p>
}
